/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
   background-color: #D1D3DE;
   overflow: hidden;
 }

 body {
   background-color: #D8DAE1;
 }

 h1 {
   font-size: 100px;
 }

 p {
   font-size: 30px;
 }

 .home-statement {
   text-align: center;
   font-size: 30px;
 }
.nav-bar {
  background-color: #6389C3;
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: SolidWhite;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-links {
  text-decoration: none;
  color: White;
}

.homepage-pics {
  margin-top: 5px;
  padding: 30px;
  width: 75%;
  padding: 5px;
  background-color: Black;
  border: 2px White;
  border-style: groove;
  border-width: 1px;
}

.homepage-body {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: auto auto auto;
  background-color: SlateGrey;
  Padding: 10px;
}

head {
  margin: 0
}
