/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
   background-color: #D1D3DE;
   overflow: hidden;
 }

 body {
   background-color: #D8DAE1;
 }

 h1 {
   font-size: 100px;
 }
.nav-bar {
  background-color: #6389C3;
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: SolidWhite;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-links {
  text-decoration: none;
  color: White;
}

.homepage-pics {
  display: flex;
  align-items: center;
  padding: 20px;
  length: 50%;
  width: 50%;
  padding: 10px;
  background-color: Black;
  border: 2px White;
}

.homepage-body {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: SlateGrey;
  Padding: 10px;
}

head {
  margin: 0
}
