header {
  text-align: center;
  background-color: Silver;
  length: 100%;
  overflow: hidden;
}
hr {
  background-color: Black;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #DFDFDF;
  color: Black;
}

.one {
  font-size: 30px;
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 1;
  grid-row: 2;
}
.three {
  grid-column: 1;
  grid-row: 3;
}
.four {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 400px;
}
.five {
  grid-column: 2;
  grid-row: 3;
}
.six {
  grid-column: 3;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 4;
}
