header {
  text-align: center;
  background-color: Silver;
  length: 100%;
  overflow: hidden;
}
hr {
  background-color: Black;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #DFDFDF;
  color: Black;
}

.name {
  text-align: center;
  outline-color: DarkRed;
  outline-width: 5px;
  outline-style: groove;
  background-color: White;
  font-size: 30px;
  grid-column: 1;
  grid-row: 1;
}
.description {
  grid-column: 1;
  grid-row: 2;
}
.price {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}
.image {
  align-self: center;
  padding-left: 100px;
  width: 50%;
  height: 50%;
  grid-column: 2;
  grid-row: 1 / span 3;
}
.status {
  grid-column: 3;
  grid-row: 3;
}
.stock {
  grid-column: 3;
  grid-row: 2;
}
.merchant_name {
  grid-column: 3;
  grid-row: 1;
}
